@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');


/* Common Styles  */

body{
    font-family: 'Bebas Neue','Roboto', sans-serif ,
    cursive;
    background-color: #E5E5E5;
   
}
h1 {
    font-family: Bebas Neue;

}

h5{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #363958;
}


header{
    background-color: #FFFBF0;
}

.yellow{
    color:#fabe4c
}



/* Navigation Bar */


.nav-link{font-family: Roboto;
/* font-style: normal; */
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #3C3C3C;}








/* header text */
.text-uppercase{
       font-size: 80px;
    line-height: 96px;
    }
.header-title{
    font-size: 48px;
    line-height: 58px;
    color:#363958;
}

/* button Section */

.btn{
    font-family: 'roboto';
    background-image: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);

}



/* paragraph */

.price {
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

/* card image */
.card {
    background-color: black;
}


.card img {
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 10%;
    margin: auto;
    
}